<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008/01/14 09:09:09 Javier Canovas Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://gts.inf.um.es/modernization/cst" 
       class = "gts.modernization.model.CST.CSTPackage"
       genModel = "model/CST.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.emf.ecore.dynamic_package">
     <resource
           location="model/CST.ecore#/"
           uri="http://gts.inf.um.es/modernization/cst">
     </resource>
  </extension>

</plugin>
