<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="gts.age.ui.category"
            class="gts.modernization.ui.wizards.NewProjectCreationWizard"
            descriptionImage="icons/g2m.gif"
            icon="icons/g2m.gif"
            id="gts.modernization.ui.wizards.NewGra2molProjectCreationWizard"
            name="New Gra2MoL Project"
            project="true">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Gra2MoL Editor"
            extensions="g2m"
            icon="icons/g2m.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="gts.modernization.ui.editors.gra2mol.Gra2MoLEditor"
            id="gts.modernization.ui.editors.gra2mol.Gra2MoLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="gts.modernization.ui.editors.gra2mol.properties.Gra2MoLPropertyPage"
            icon="icons/g2m.gif"
            id="gts.modernization.ui.editors.gra2mol.filePropertyPage"
            name="Gra2MoL"
            nameFilter="*.g2m"
            objectClass="org.eclipse.core.resources.IFile">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="gts.modernization.ui.launcher.G2MLaunchConfigurationDelegate"
            id="Grammar2Model.UI.ConfigurationType"
            modes="run"
            name="Gra2MoL Launcher"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="Grammar2Model.UI.ConfigurationType"
            icon="icons/G2MLaunch.gif"
            id="Grammar2Model.UI.Gra2MoLLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="gts.modernization.ui.launcher.G2MLaunchConfigurationTabGroup"
            id="Grammar2Model.UI.TabGroup"
            type="Grammar2Model.UI.ConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
